<nb-card>
    <nb-card-header>Especificaciones</nb-card-header>
    <nb-card-body>

        <!-- Title and author -->
        <div class="row my-4">

            <!-- Title -->
            <div class="col pl-4">
                <label for="title">Título</label>
                <input id="title" type="text" nbInput fullWidth placeholder="Nombre de la composición" [(ngModel)]="specs.movementTitle">
            </div>

            <!-- Author -->
            <div class="col pl-4">
                <label for="author">Autor</label>
                <input id="author" type="text" nbInput fullWidth placeholder="Autor de la obra" [(ngModel)]="specs.authors[0]" disabled>
            </div>

        </div>

        <!-- Number of measures, instruments, tonalities and measure -->
        <div class="row my-4">

            <!-- Número de compases -->
            <div class="col pl-4">
                <label for="measureNumber">Compases</label>
                <input id="measureNumber" type="text" nbInput placeholder="Número de compases" fullWidth [(ngModel)]="specs.measures">
            </div>

            <!-- Instrumentos -->
            <div class="col pl-4">
                <label for="instruments">Instrumentos</label>
                <nb-select id="instruments" multiple formControlName="instrumentos" placeholder="Instrumentos" fullWidth>
                    <nb-option *ngFor="let instrument of availableInstruments" [value]="instrument">{{instrument.name}}</nb-option>
                </nb-select>
            </div>

            <!-- Tonalidad -->
            <div class="col pl-4">
                <label for="tonality">Tonalidad</label>
                <nb-select id="tonality" placeholder="Tonalidad" fullWidth>
                    <nb-option *ngFor="let tonalidad of availableTonalities" [value]="tonalidad">{{tonalidad.traditionalName}}</nb-option>
                </nb-select>
            </div>

            <!-- Compás -->
            <div class="col pl-4">
                <label for="measure">Compás</label>
                <nb-select id="measure" placeholder="Compás" fullWidth>
                    <nb-option *ngFor="let measure of availableMeasures" [value]="measure">{{measure.numerador}}/{{measure.denominador}}</nb-option>
                </nb-select>
            </div>

        </div>

        <button class="mx-3" nbButton status="basic" (click)="submit()">Componer!</button>
        <button class="mx-3" nbButton status="basic" (click)="randomize()">
            <nb-icon icon="flip-outline"></nb-icon>
        </button>

    </nb-card-body>
  </nb-card>
