<nb-card>
    <nb-card-header>Reset password</nb-card-header>
    <nb-card-body>

        <div class="m-4">
            <label for="name">Nueva contraseña:</label>
            <input id="name" type="password" nbInput fullWidth status="basic" [(ngModel)]="newPassword">
        </div>

        <div class="row">
            <div class="col text-center">
                <button nbButton status="danger" outline (click)="cancel()">Cancelar</button>
            </div>
            <div class="col text-center">
                <button nbButton status="success" outline (click)="submit()">Guardar</button>
            </div>
        </div>

    </nb-card-body>
</nb-card>
