<div>
    <!-- Name -->
    <div class="m-4">
        <label for="name">Nombre:</label>
        <input id="name" type="text" nbInput fullWidth status="basic" [(ngModel)]="editedUser.name">
    </div>

    <!-- Surname -->
    <div class="m-4">
        <label for="surname">Apellidos:</label>
        <input id="surname" type="text" nbInput fullWidth status="basic" [(ngModel)]="editedUser.surname">
    </div>

    <!-- Email -->
    <div class="m-4">
        <label for="email">Email:</label>
        <nb-form-field>
            <nb-icon nbPrefix icon="at-outline"></nb-icon>
            <input id="email" type="email" nbInput fullWidth status="basic" [(ngModel)]="editedUser.email">
        </nb-form-field>
    </div>

    <!-- Roles -->
    <div class="m-4">
        <label for="roles">Roles:</label>
        <nb-select id="roles" multiple fullWidth [selected]="findRolesIds(editedUser)">
            <nb-option *ngFor="let role of roles" [value]="role.id" (click)="selectRole(role)">{{role.name}}</nb-option>
        </nb-select>
    </div>

    <!-- Enabled -->
    <div class="m-4">
        <label for="enabled">Enabled:</label>
        <div id="enabled">
            <nb-toggle [checked]="editedUser.enabled" (checkedChange)="editedUser.enabled = !editedUser.enabled"></nb-toggle>
        </div>
    </div>

</div>
